.posts-collapse {
  margin-left: $posts-collapse-margin;
  position: relative;

  +mobile() {
    margin-left: $posts-collapse-margin-mobile;
    margin-right: $posts-collapse-margin-mobile;
  }

  .collection-title {
    font-size: $font-size-large;
    position: relative;

  }

  .collection-year {
    font-size: $font-size-largest;
    font-weight: bold;
    position: relative;
  }

  .collection-header {
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,system-ui,"Courier New",monospace,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
    position: relative;
    padding: 4px 0;
    color: var(--text-p3);

    small {
      color: $grey;
      margin-left: 5px;
    }
  }

  .post-header {
    border-bottom: 1px dashed $grey-light;
    position: relative;
    transition-property: border;
    the-transition();


    &:hover {
      border-bottom-color: $grey-dim;

      &::before {
        background: $black-deep;
      }
    }
  }

  .post-meta {
    display: inline;
    font-size: $font-size-smallest;
    margin-right: 10px;
  }

  .post-title {
    display: inline;

    a, span.exturl {
      border-bottom: none;
      color: var(--link-color);
    }

    .fa-external-link-alt {
      font-size: $font-size-small;
      margin-left: 5px;
    }
  }

}